@media (max-width: 769px){
    main .conteudo .imagem{
        height: 85%;
    }
    main .img-filmes{
        width: 120px;
        height: 130px;
        margin-left: 10px;
        position: absolute;
        top: 60px;
        right: 500px;
        left: 5px;
        
    }
    main .conteudo-filme{
        position: absolute;
        top: 280px;
        left: 15px;
        width: 320px;
        height: 160px;
        min-height: 30vh;
        font-size: 13px;
    }
    .buttons {
        width: 110px;
    }
    .genero-movie{
        font-size: 35px;
    }
    .button {
        width: 75px;
        height: 40px;
        font-size: 12px;
        font-weight: bold;
        
    }
    .buttons .button.selecionado {
        width: 75px;
        height: 45px;
        font-size: 12px;
    }
    
    .titulo-movie {
        font-size: 30px;
        
    }

    .sinopse{
        max-width: 300px;
        
    }

    .botoes {
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        
        padding: 30px;
        
    }
    .botoes .botao img {
        max-width: 100px;
        
    }
    main .pg-inicial{
        position: absolute;
        top: 460px;
        left: 210px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 30vh;
        max-width: 380px;
    }
    

}




/*@media (max-width: 1000px) {

    main .conteudo .imagem{
        
        width: 1000px;
        height: 1100px;
    }

    .botoes {
        width: 150px;
        padding: 15px;
        top: -10%;
        
    }

    .botoes .botao img {
        width: 130px;
        
    }
    
}*/