@media (max-width: 769px){

    
    main .conteudo .imagem1{
        /*width: 100%;*/
        height: 100%;
        
    }

    
    main .img-filmes{
        width: 120px;
        height: 130px;
        margin-left: 10px;
        position: absolute;
        top: 60px;
        right: 500px;
        left: 5px;
        
    }
    main .conteudo-filme{
        position: absolute;
        top: 280px;
        left: 15px;
        width: 590px;
        height: 100px;
        min-height: 30vh;
        font-size: 13px;
    }
    .buttons {
        width: 90px;
        background-color: black;
        
    }
    .genero-movie{
        font-size: 25px;
    }
    .button {
        width: 80px;
        height: 40px;
        font-size: 11px;
        font-weight: bold;
        color: black;
        
    }
    .buttons .button.selecionado {
        width: 80px;
        height: 45px;
        font-size: 11px;
        color: black;
        
    }
    
    .titulo-movie {
        font-size: 20px;
        
    }

    .sinopse{
        max-width: 250px;
        
    }

    .botoes {
        flex-direction: row;
        
        left: 80px;
        top: -250px;
        background: none;
        margin-right: 20px;
        
        
        
    }
    .botoes .botao img {
        max-width: 80px;
        
        
    }
    main .pg-inicial{
        position: absolute;
        top: 470px;
        left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 30vh;
        max-width: 380px;
    }
    .conteudo-trailer {
        text-align: start;
    }
    

}

@media (min-width: 769px) and (max-width:992px) {

    main .conteudo .imagem{
        width: 130%;
        
        
    }
    .botoes .botao img {
        max-width: 100px;
        
        
    }
    .botoes{
        width: 200px;
        margin-right: 0;
    }
}

